{% extends "layout/index.twig" %}

{% block content %}

<h1 class="text-center mt-5">{% block title %}{{ title }}{% endblock %}</h1>

<form method="POST" class="row p-3 mb-5 no-gutters" name="{{title}}" action="/signup">
<div class="form-group col-12 col-sm-6 offset-sm-3">
    <label for="mail">Votre Courriel :</label>
    <input class="form-control" id="mail" type="email" name="mail" value="{{user.mail}}" required></div>
<div class="form-group col-12 col-sm-6 offset-sm-3">
    <label for="mailVerify">Vérification de Votre Courriel :</label>
    <input class="form-control" id="mailVerify" type="email" name="mailVerify" value="{{user.mailVerify}}" required></div>
<div class="form-group col-12 col-sm-6 offset-sm-3">
    <label for="lastname">Votre Nom :</label>
    <input class="form-control" id="lastname" type="text" name="lastname" value="{{user.lastname}}" required></div>
<div class="form-group col-12 col-sm-6 offset-sm-3">
    <label for="firstname">Votre Prénom :</label>
    <input class="form-control" id="firstname" type="text" name="firstname" value="{{user.firstname}}" required></div>
<div class="form-group col-12 col-sm-6 offset-sm-3">
    <label for="address">Votre Adresse :</label>
    <input class="form-control" id="address" type="text" name="address" value="{{user.address}}" required></div>
<div class="form-group col-12 col-sm-6 offset-sm-3">
    <label for="zipCode">Votre Code Postal :</label>
    <input class="form-control" id="zipCode" type="text" name="zipCode" value="{{user.zipCode}}" required></div>
<div class="form-group col-12 col-sm-6 offset-sm-3">
    <label for="city">Votre Ville :</label>
    <input class="form-control" id="city" type="text" name="city" value="{{user.city}}" required></div>
<div class="form-group col-12 col-sm-6 offset-sm-3">
    <label for="country">Votre Pays :</label>
    <input class="form-control" id="country" type="text" name="country" value="{{user.country}}" required></div>
<div class="form-group col-12 col-sm-6 offset-sm-3">
    <label for="phone">Votre Numéro de Téléphone :</label>
    <input class="form-control" id="phone" type="tel" name="phone" value="{{user.phone}}" required></div>
<div class="form-group col-12 col-sm-6 offset-sm-3">
    <label for="password">Votre Mot de Passe :</label>
    <input class="form-control" id="password" type="password" name="password" value="" required></div>
<div class="form-group col-12 col-sm-6 offset-sm-3">
    <label for="passwordVerify">Confirmez votre Mot de Passe :</label>
    <input class="form-control" id="passwordVerify" type="password" name="passwordVerify" value="" required></div>

<div class="col-12 col-sm-6 offset-sm-3 text-center">
    <button type="submit" class="btn btn-success">Envoyez</button>
</div>

</form>
{% endblock content %}